.App {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cam {
  border: 1px solid black;
background-color: white;
  width: 30rem;
  height: 100%;
}
video {
  border: 1px solid black;
  width: 100%;
  margin-top: 10rem;
}
.BtnDiv{
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* border: 1px solid red; */
}
button {
  /* background: white; */
  border: 1px solid black;
  color: white;
}
